{{>header}}
<h1>Detalle del Producto</h1>
<div class="card">
  <p>title: {{product.title}}</p>
  <p>description:{{product.description}}</p>
  <p>Precio: ${{product.price}}</p>
  <p>Stock: {{product.stock}}</p>
  {{!-- <img src="{{product.thumbnail}}" alt="{{product.title}}" /> --}}
</div>