{{#if product.thumbnail}}
  <img src="{{ product.thumbnail }}" alt="{{ product.title }}">
{{/if}}

{{#if product.title}}
  <h5 class="card-title">{{ product.title }}</h5>
{{/if}}

{{#if product.description}}
  <p class="card-text">{{ product.description }}</p>
{{/if}}

{{#if product.price}}
  <p class="card-text">Price: ${{ product.price }}</p>
{{/if}}

{{#if product.stock}}
  <p class="card-text">Stock: {{ product.stock }}</p>
{{/if}}

