 {{>header}}

    

<div class="login-container">
    <div class="login">
        <div class="card">
            <h2 style="color: aliceblue;">Mi Perfil</h2>
            <p>Bienvenido!, {{users.first_name}} {{users.last_name}}!</p>
            <p>Email: {{users.email}}</p>
            <p>Edad: {{users.age}}</p>
             {{users.role}}
            {{!-- <a href="/api/sessions/logout">Logout</a> --}}
        </div>

        {{#if this.isAdmin}}
               <div>
                   <button
        type="button"
        aria-disabled="false"
        onclick="window.location.href='/realtimeproducts'"
        style="background-color: #393c44; color: #fff; padding: 10px; border: none; border-radius: 5px; display: flex; align-items: center;"
      >

        <div>Real time products</div>
      </button>
         </div>
            {{else}}
          
    
                </div>
                  <div>
                   <button
        type="button"
        aria-disabled="false"
        onclick="window.location.href='/products'"
        style="background-color: #393c44; color: #fff; padding: 10px; border: none; border-radius: 5px; display: flex; align-items: center;"
      >

        <div>Tienda</div>
      </button>
         </div>
           <div>
                   <button
        type="button"
        aria-disabled="false"
        onclick="window.location.href='/chat'"
        style="background-color: #393c44; color: #fff; padding: 10px; border: none; border-radius: 5px; display: flex; align-items: center;"
      >

        <div>Chat</div>
      </button>
         </div>
              {{/if}} 
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); (function(){ var
  s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/65e8c9fd8d261e1b5f698f4a/1hoala255';
  s1.charset='UTF-8'; s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0); })();
</script>
<!--End of Tawk.to Script-->