<header>
  <a href="/" class="logo">
    <img
      src="https://res.cloudinary.com/dheurnsr0/image/upload/v1701221794/IMG_1172_nyrqq4.jpg"
      alt=""
    />
  </a>

  <nav>
    <ul>
      {{#if users}}

        <li> <h3>¡Bienvenido {{user.first_name}} {{user.last_name}}!</h3></li>
        <li><p>Rol: {{user.role}}</p></li>
        {{#if user.cart}}
          <li>
            <a href="/carts/{{user.cart}}">🛒
              <span>{{cartLength}}</span>
            </a>
          </li>

        {{/if}}

        <li><a href="/api/sessions/logout">
            <img src="/img/icons8-apagar-16.png" alt="Cerrar sesión" /></a></li>

      {{/if}}

    </ul>
  </nav>
</header>