<header>
  <a href="/" class="logo">
    <img
      src="https://res.cloudinary.com/dheurnsr0/image/upload/v1701221794/IMG_1172_nyrqq4.jpg"
      alt=""
    />
  </a>

  
      {{users}}
<div>

        <h3>¡Bienvenido {{user.first_name}} {{user.last_name}}!</li>
</div>
        <p>Rol: {{user.role}}</p>
              
            <a href="/api/carts/{{../cartId}}/products/{{this._id}}">🛒
              <span>{{cartLength}}</span>
            </a>
        

    

        <a href="/api/sessions/logout">
            <img src="/img/icons8-apagar-16.png" alt="Cerrar sesión" /></a>

     

  </nav>
</header>